<section>
  <h2 class="title--medium">Listado de camisetas</h2>
  <section class="js-products cards"></section>

  <article class="card">
    <img
      src="../assets/images/node-js.jpg"
      class="card__img"
      alt="Camiseta de Node JS"
    />
    <h3 class="card__title">Node JS</h3>
    <p class="card__description">12,00 €</p>
    <span>---</span>
    <button class="card__btn">Añadir a la cesta</button>
  </article>

  <article class="card">
    <img
      src="../assets/images/javascript.jpg"
      class="card__img"
      alt="Camiseta de JavaScript"
    />
    <h3 class="card__title">JavaScript</h3>
    <p class="card__description">15,00 €</p>
    <span>---</span>
    <button class="card__btn">Añadir a la cesta</button>
  </article>

  <article class="card">
    <img
      src="../assets/images/react.jpg"
      class="card__img"
      alt="Camiseta de React JS"
    />
    <h3 class="card__title">React JS</h3>
    <p class="card__description">13,00 €</p>
    <span>---</span>
    <button class="card__btn">Añadir a la cesta</button>
  </article>
</section>
