/*
  Hoja de reset basada en:
    <https://beta.adalab.es/resources/stylesheets/reset.css>
    <https://meyerweb.com/eric/tools/css/reset/>

  NOTA: Ningún árbol ha sido talado en la elaboración
        de esta hoja de estilos 🌳
*/
:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #57837b;
  margin: 10px;
}

body {
  margin: 10px;
  padding: 0;
  line-height: 1;
  background-color: #f1ecc3;

  p,
  ul {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
  }

  button {
    background: none;
    border: none;
  }
}
