.shop {
  margin-top: 40px;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__head {
    display: flex;
    flex-direction: row;
    background-color: #ddd9c2;
    opacity: 70px;
  }
}

table tr td {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  font-size: 14px;
  font-size: bold;
}
.title3 {
  font-weight: bold;
}
.text-align-right {
  text-align: right;
}
.button_shop {
  padding-bottom: 20px;
}
