.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__head {
    display: flex;
    flex-direction: row;
    background-color: #ddd9c2;
  }
}
td {
  @include tablet {
    width: 100px;
  }
  @include desktop {
    width: 200px;
  }
}
table tr td {
  padding: 30px;
  border-bottom: solid 1px #ccc;
  font-size: 14px;
  font-size: bold;

  @include tablet {
    padding: 40px;
    font-size: 16px;
    text-align: center;
  }
  @include desktop {
    padding: 50px;
    font-size: 24px;
  }
}
.title3 {
  font-weight: bold;
}

.total {
  text-align: right;

  @include tablet {
    padding-right: 70px;
  }
  @include desktop {
    padding-right: 120px;
  }
}
